.App {
  margin-bottom: 3rem;
}

.product--image {
  width: 100%;
  height: 25em;
  object-fit: cover top;
  animation: opacity-html 2.2s linear;
}

.card .h3 {
  font-family: 'Roboto';
  font-size: 2.5vh;
}
.card .p {
  margin: 0;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin-left: 2.8rem !important;
  text-align: center;
  margin-bottom: 2rem;
}

.price {
  color: grey;
  font-size: 30px;
}

.card .button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  margin: 0;

}

.react-multi-carousel-list {
  height: 600px;
}

.card .button:hover {
  transform: translateY(-20%);
  transition: 1s;
  background-color: var(--pink);
  margin: 0;
}

.react-multiple-carousel__arrow {
  background-color: var(--hoverpink) !important;
  z-index: 4 !important;
}
.react-multiple-carousel__arrow:hover {
  background-color: var(--pink) !important;
}

.react-multi-carousel-dot--active button {
  background: var(--pink) !important;
}


@media (max-width:2700px ) {

  .price {
    color: grey;
    font-size: 18px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 340px;
    margin-left: 2rem !important;
    text-align: center;
    margin-bottom: 2rem;
  }

  .product--image {
    width: 100%;
    height: 18em;
    object-fit: cover top;
    animation: opacity-html 2.2s linear;
  }

  
  
 
}
@media (max-width: 1700px ) {
 
  .react-multi-carousel-list {
    height: 640px !important;
    margin-left: 3vw;
  }
 
  .card {
    margin: 0 2rem 0 2rem !important;
  }
  
 
}




@media (max-width: 480px) {
  .card .button {
    transform: translateY(-20%);
    transition: 1s;
    background-color: var(--pink) !important;
    margin: 0;
  }

  
  .react-multi-carousel-list {
    height: 590px !important;
  }


}