

@font-face {
  font-family: "cursiva";
  src: url(../src/utils/assets/fonts/OleoScriptSwashCaps-Bold.ttf);    
}




:root {
  --xlarge:45px;
  --large: 36px;
  --medium: 28px;
  --regular: 20px;
  --small: 14px;
  --xsmall: 10px;
  --turquoise: #45b2ae;
  --pink: #f397a9;
  --hoverpink: #f397a99c;
  --blue: #181c3b;
  --yellow: #ffdf9e;
  --darkyellow:hwb(43 42% 0%);
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;


}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-8px, -8px);
  }
  50% {
    transform: translate(-8px, -8px);
  }
  60% {
    transform: translate(-8px, -8px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes slider {
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}
  
  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}

@keyframes slider-promotion {
  0%{margin-left: 0;}
  5%{margin-left: -15%;}
  10%{margin-left: -30%;}
  15%{margin-left: -45%;}
  20%{margin-left: -60%;}
  25%{margin-left: -75%;}
  30%{margin-left: -90%;}
  35%{margin-left: -105%;}
  40%{margin-left: -120%;}
  45%{margin-left: -135%;}  
  50%{margin-left: -150%;} 
  55%{margin-left: -165%;} 
  60%{margin-left: -180%;}
  65%{margin-left: -195%;}
  70%{margin-left: -210%;}
  75%{margin-left: -225%;}
  80%{margin-left: -240%;}
  85%{margin-left: -255%;}
  90%{margin-left: -270%;}
  95%{margin-left: -285%;}
  100%{margin-left: -300%;}
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  overflow-x: hidden;
  overflow-y: scroll;  
  -webkit-scrollbar: 10px;

}

html::-webkit-scrollbar {
  width: 12px;               
}

html::-webkit-scrollbar-track {
  background: white;       
}

html::-webkit-scrollbar-thumb {
  background-color: var(--hoverpink);    
  border-radius: 20px;     
  height: 8px; 
}

.fontStyleTitle {
  font-size: 20px;
  font-weight: 900;
  color: white !important;
  height: 50px;
}

.carouselheight {
  height: 800px;
  width: 100%;
}

.background-red {
  background-color: red;
}
.background-white {
  background-color: rgb(240, 236, 236);
}
.background-black {
  background-color: black;
}
.background-green {
  background-color: green;
}
.background-grey {
  background-color: grey;
}
.background-yellow {
  background-color: yellow;
}
.background-pink {
  background-color: pink;
}
.background-nute {
  background-color: rgb(202, 152, 152);
}
.background-red-wine {
  background-color: rgb(117, 18, 18);
}
.background-brown {
  background-color: #c29b61;
}
.background-jean {
  background-color: #467fa8;
}


.gradient-color{ 
  height: 53px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-content: center;
  background-image: linear-gradient(to left,  #f7b9c6 , var(--pink),  #f7b9c6 );
  align-items: stretch;
  font-family: 'cursiva';
}

.color-blue {
  height: 50px;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around;
  align-content: center;
  background-color: var(--blue);
  align-items: center;
  font-family: 'cursiva';
  color: white;
  font-size: 20px;
}



.position-relative {
  position: relative;
  align-items: center;
  height: 100%;
  width: 400px;
}

.position-absolute {
  position: absolute;
  top: 440px;
  align-items: center;
}

.font-size-up {  
  font-size: 25px !important;
}
.font-style-up{
  font-size: 30px;
  cursor: pointer;  
}

.font-style2 {
  font-size: 40px;
  cursor: pointer; 
}

.card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 50vh !important;

}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  background-color: pink;
  border-radius: 5rem;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 40% !important;
  margin-bottom: 1rem;
  margin-left: 40% !important;
  list-style: none;
  background-color: var(--hoverpink);
  border-radius: 1rem;
}


.imagen-navbar {
  transition: 0.5s;
  background: url(../src//utils/images/Navbar/defrente.png) no-repeat;
  height: 100%;
  width: 450px;

}
.imagen-navbar:hover {
  background: url(../src//utils/images/Navbar/delado.png) no-repeat;
  
}

ul::-webkit-scrollbar {
  width: 12px;               
}

ul::-webkit-scrollbar-track {
  background: white;       
}

ul::-webkit-scrollbar-thumb {
  background-color: var(--hoverpink);    
  border-radius: 20px;     
  height: 8px; 
}


@media (max-width: 1100px) {

  .gradient-color {
    justify-content: space-between;
  }

  .color-blue {
    font-size: 16px;
  }
  .fontStyleTitle {
    font-size: 15px;
  }

}

@media (max-width: 480px) {
   /* 
  body{
    width: 104%;
  } */

  .carouselheight {
    height: 400px;
  }
  .font-style-up{
    font-size: 25px;
  }

  .font-style2{
    font-size: 33px; 
  }

  .card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    max-width: 320px;
    text-align: center;
    margin: 0 2rem 2rem 2rem !important;
  }
  
}
/* 

@media (max-width: 343px) {
   
  body{
    width: 45vh;
  }

  
} */