:root {
  --xlarge:45px;
  --large: 36px;
  --medium: 28px;
  --regular: 20px;
  --small: 14px;
  --xsmall: 10px;
  --turquoise: #45b2ae;
  --pink: #f397a9;
  --hoverpink: #f397a99c;
  --blue: #181c3b;
  --yellow: #ffdf9e;
  --darkyellow:hwb(43 42% 0%);
  --color-primary: #e90e0e;
  --color-secondary: #f35208;
  --color-tertiary: #fc7a00;
  --color-quaternary: #f7910c;
  --color-quinary: #ffae00;


}


html {
  font-family: 'Roboto';
}






html::-webkit-scrollbar {
  width: 12px;               
}

html::-webkit-scrollbar-track {
  background: white;       
}

html::-webkit-scrollbar-thumb {
  background-color: var(--hoverpink);    
  border-radius: 20px;     
  height: 8px; 
}

a {
  text-decoration: none !important;
  color: black !important;
}

h2 {
  font-family: 'Roboto';
  font-size: 2.5vh;
}

.fontStyleTitle {
  font-size: 30px;
  font-weight: 900;
  color: white !important;
  height: 50px;
}

.carouselheight {
  height: 900px;
  width: 80%;
  opacity: 1 !important;
}
  
.height-page {
  height: 1600px;
}
  

.background-red {
  background-color: red;
}
.background-white {
  background-color: rgb(240, 236, 236);
}
.background-black {
  background-color: black;
}
.background-green {
  background-color: green;
}
.background-green-dark {
  background-color: rgb(85, 136, 85);
}
.background-grey {
  background-color: grey;
}
.background-yellow {
  background-color: yellow;
}
.background-pink {
  background-color: pink;
}
.background-nute {
  background-color: rgb(202, 152, 152);
}
.background-red-wine {
  background-color: rgb(117, 18, 18);
}
.background-brown {
  background-color: #c29b61;
}
.background-jean {
  background-color: #467fa8;
}
.background-orange {
  background-color: #eb772a;
}
.background-blue {
  background-color: #2aebdb;
}
.background-fucsia {
  background-color: #eb2a5a;
}
.background-blue-sky {
  background-color: #2ab4eb;
}
.background-blue-dark {
  background-color: #020235;
}
.background-purple {
  background-color: #220349;
}
.background-blue-electric {
  background-color: blue;
}

.gradient-color{ 
  height:70px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  background-image: linear-gradient(to left,  #f7b9c6 , var(--pink),  #f7b9c6 ); 
  align-items: stretch;
  font-family: 'cursiva';
  /*to left,  var(--pink) , #f7b9c6, #f8cfd8 ,  #f7b9c6, var(--pink) */
}

.color-blue {
  height: 70px;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around;
  align-content: center;
  background-color: var(--blue);
  align-items: center;
  font-family: 'cursiva';
  color: white;
  font-size: 20px;
}

.TopsContainer {
  display: flex;
  flex-direction: row;
 flex-wrap: wrap; 
  width: 100%;
}




.position-relative {
  position: relative;
  align-items: center;
  height: 100%;
  width: 400px;
}

.position-absolute {
  position: absolute;
  top: 440px;
  align-items: center;
}

.font-size-up {  
  font-size: 30px !important;
}
.font-style-up{
  font-size: 40px;
  cursor: pointer;  
  color: white;
}

.font-style2 {
  font-size: 60px;
  cursor: pointer; 
}

.card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 50vh !important;

}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 2rem !important;
  height: 2rem !important;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  background-color: pink;
  border-radius: 5rem;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 40% !important;
  margin-bottom: 1rem;
  margin-left: 40% !important;
  list-style: none;
  background-color: var(--hoverpink);
  border-radius: 1rem;
}

.position-fixed-cart {
  position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: 100vw;
    height: 367vh;
    background-color: rgba(0, 0, 0, 0.90);
    animation: opacity-html 0.2s linear;
  
}
.position-aboslute-top {
  position: absolute;
  top: 103px;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  animation: opacity-html 0.2s linear;
}
.position-aboslute-cart {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 600px;
  z-index: 5;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  border-radius: 10px;
}
.position-aboslute-alert {
  position: absolute;
  display: flex;
  align-items: center;
  top: 138px;
  right: 0;
  background: none;
  width: 600px;
  z-index: 5;
  border-radius: 10px;
  height: 200px;
}



/* ---------------------------------------------------------------------------------------------------

  TODA ESTA PARTE ES PARA EL CARRITO
--------------------------------------------------------------------------------------------------- */

.button-pagination {
  color: white;
  font-weight: 800;
}

.cart-button {
  position: absolute;
  bottom: 15px;
  right: 13px;
  border: none;
  background: none;
}
.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #000;
}

.icon-cart:hover {
	cursor: pointer;
}

img {
	max-width: 100%;
}



.count-products {
	

  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: 16px;
  top: 26px;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
  position: absolute;
    top: 54px;
    right: 0;
    background-color: #fff;
    width: 600px;
    z-index: 5;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    border-radius: 10px;
}

.cartProductImagen {
  width: 9em;
  height: 9em;
  border-radius: 3px;
  object-fit: cover top;
  animation: opacity-html 2.2s linear;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: center;
  width: 90%;
}

.titulo-producto-carrito {
	font-size: 20px;
  font-family: 'Roboto';
  padding: 1rem;
  text-align: initial;
  width: 100%;
  margin: 0;
}

.hidden-cart-subs {
  background: none !important;
    color: white;
    cursor: default !important;
    border: none !important;
}

.css-162mkon {
  display: none !important;
}

.margin-button-formulario {
  margin: 0 0 0.6rem 0;
}

.space {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
}

.container-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;

}

.precio-producto-carrito {
	font-weight: 700;
    font-size: 20px;
    margin: 1rem 10px 0 0;
}

.cantidad-producto-carrito {
  font-family: 'Roboto';
  font-size: 17px;
}

.talla-carrito {
  font-size: 1rem;
  font-family: 'Roboto';
  width: 100%;
  text-align: initial;
  padding: 0 0 0 1rem;

}

.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

/* Main */
.container-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.item {
	border-radius: 10px;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}

.item figure {
	overflow: hidden;
}

.item:hover img {
	transform: scale(1.2);
}

.info-product {
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.info-product button {
	border: none;
	background: none;
	background-color: #000;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}

.cart-empty {
  padding: 25px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 20px;

}

.hidden {
	display: none;
}

.button-cart-sumandsubs {
  height: fit-content;
  width: fit-content;
  background-color: var(--pink);
  border-radius: 100%;
  font-size: 22px;
  font-weight: 900;
  border: #c7c7c7 1px solid;
  cursor: pointer;
  color: white;
}


.btn-clear-all {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}
.btn-clear-buy {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 5px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}

.btn-clear-all:hover{
  background-color: #333;
  transform: scale(1.03);
  border-radius: 0;
}
.btn-clear-buy:hover{
  background-color: #333;
  transform: scale(1.03);
  border-radius: 0;
}

.cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: #020235;
  position: absolute;
  top: 103px;
  right: 0;
  z-index: 30;
}
.cart-container {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------------------------------------------------------------------

  TODA ESTA PARTE ES PARA EL CARRITO
--------------------------------------------------------------------------------------------------- */

.modal.is-open {
  display: flex;
}

.modal{
  
  display: none;
  justify-content: center;
  align-items: center;
}
.imagen-navbar {
  transition: 0.5s;
  height: 100%;
  width: 450px;
  animation: change 6s linear infinite;
  transition-delay: 10s;

}
.imagen-nosotros {
  
  background: url(./utils//images//Nosotros/nosotros.png) top/cover no-repeat;
  
}
.imagen-home {
  
  background: url(./utils//images//Home/home.png) top/cover no-repeat;
  
}
.imagen-home-top {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  background: url(./utils//images//Home/home-tops.png) top/cover no-repeat;
  
}
.imagen-home-top:hover {
  
  background: url(./utils//images//Home/home-tops-hover.png) top/cover no-repeat;
  
}
.imagen-home-vestidos {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  background: url(./utils//images//Home/home-vestidos.png) top/cover no-repeat;
  
}
.imagen-home-vestidos:hover {
  
  background: url(./utils//images//Home/home-vestidos-hover.png) top/cover no-repeat;
  
}
.imagen-home-bikinis {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  background: url(./utils//images//Home/home-bikinis.png) top/cover no-repeat;
  
}
.imagen-home-bikinis:hover {
  
  background: url(./utils//images//Home/home-bikinis-hover.png) top/cover no-repeat;
  
}


ul::-webkit-scrollbar {
  width: 12px;               
}

ul::-webkit-scrollbar-track {
  background: white;       
}

ul::-webkit-scrollbar-thumb {
  background-color: var(--hoverpink);    
  border-radius: 20px;     
  height: 8px; 
}


@media (max-width: 2700px) {

 
    
  .fontStyleTitle {
    font-size: 20px;
  }


  .font-style-up{
    font-size: 30px;
  }
  .count-products{
    top: 3px;
  }

  
  .font-style2 {
  font-size: 40px;
  }
  .gradient-color{ 
    height: 53px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    background-image: linear-gradient(to left,  #f7b9c6 , var(--pink),  #f7b9c6 );
    align-items: stretch;
    font-family: 'cursiva';
    
  }
  
  .color-blue {
    height: 50px;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
    align-content: center;
    background-color: var(--blue);
    align-items: center;
    font-family: 'cursiva';
    color: white;
    font-size: 20px;
  }


}
@media (max-width: 1100px) {
 

  .color-blue {
    font-size: 16px;
  }
  .fontStyleTitle {
    font-size: 15px;
  }
  .position-aboslute-cart, .container-cart-products {
    width: 500px;
  }

  .cantidad-producto-carrito {
    font-size: 0.6rem;

  }

  .button-cart-sumandsubs{
    font-size: 18px;
  }

  .carouselheight {
    width: 100%;
    height: 600px;
  }
  .position-fixed-cart{
    height: 230vh;
  }

  
  html {
    width: 100%;;
  }
  


}
@media (max-width: 768px) {
  .imagen-nosotros {
  
    background: url(./utils//images//Nosotros/nosotros1.png) center/cover no-repeat;
    
  }

  .position-fixed-cart{
    height: 300vh;
  }

  .position-aboslute-top {

    height: 300vh;
  }


}
@media (max-width: 480px) {

  .imagen-home {
  
    background: url(./utils//images//Home/homeresponsive.png) top/cover no-repeat;
    
  }
   /* 
  body{
    width: 104%;
  } */
  .div-principal{
    margin: 19% 2% !important;
  
  }
  
  html {
    width: 102%;;
  }

  .button-cart-sumandsubs {
    font-size: 12px;
  }
  .position-aboslute-cart, .container-cart-products {
    width: 360px;
  }

  .carouselheight {
    height: 400px;
    width: 100%;
  }
  .font-style-up{
    font-size: 25px;
  }

  .font-style2{
    font-size: 33px; 
  }

  
  .position-fixed-cart{
    height: 380vh;
  }
  .position-aboslute-top {

    height: 380vh;
  }

  .card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    max-width: 320px;
    text-align: center;
    margin: 0 1.5rem 2rem 2rem !important;
  }

  .titulo-producto-carrito, .precio-producto-carrito, .talla-carrito {
    font-size: 14px;
    padding: 0.5rem 0 0 0.2rem;
    
  }


  .precio-producto-carrito{
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
  
  .cart-product, .cart-product{
    font-size: 10px;
  }
  
  .cart-product {
    padding: 12px;
  }
  .space {
    gap: 20px;
  }
  .cartProductImagen {
    width: 10em;
    height: 12em;
  }

  .cart-total, .cart-total h3, .total-pagar {
    font-size: 16px;
    align-items: baseline;
  }

  .p-formulario-registro {
    width: 80%;
    text-align: center;
  }
  
}


@media (max-width: 320px) {
   
  .position-aboslute-cart, .container-cart-products {
    width: 320px;
  }

 
  
}