html::-webkit-scrollbar {
  width: 8px !important;            
}

html::-webkit-scrollbar-track {
  background: white !important;       
}

html::-webkit-scrollbar-thumb {
  background-color: var(--hoverpink) !important;    
  border-radius: 20px !important;     
  height: 8px !important; 
}

html {
  overflow-x: hidden !important;
    width: 100% !important;
    overflow-y: auto;
  
  
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Roboto'
    monospace;
}
